# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
requests
pyodbc
azure-search-documents==11.4.0b6 
openai==0.28.1 
tenacity
pandas